html {
    font-family: 'Smooch sans', sans-serif;
}

body {
    margin: 0;
    background-color: #1e2952;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)),
    url("espacio\ 2.jpg");
    background-size: 1920px 1650px;
}
header {
    background-color: black;
    color: #d9ddeb;
    padding: 2px 25px;
    font-size: 40px;
}

.imagen-1 {
    margin-left: 15px;
    float: left;
    width: 800px;
    border-color: black;
    border-radius: 12px;
}

.texto-1 {
    display: inline;
    float: left;
    width: 400px;
    margin-left: 15px;
    font-size: 20px;
    color: #d9ddeb;
}

.texto-2{
    margin-left: 15px;
    float: left;
    font-size: 20px;
    width: 600px;
    clear: both;
    color: #d9ddeb;

}

.link {
    text-decoration: none;
    font-size: 20px;
    color:lightskyblue
}

a:hover {
    text-decoration: underline;
}

.texto-3 {
    margin-left: 15px;
    float: left;
    font-size: 20px;
    width: 600px;
    clear: both;
    color: #d9ddeb;
}

.texto-4 {
     margin-left: 15px;
    float: left;
    font-size: 20px;
    width: 600px;
    clear: both;
    color: #d9ddeb;
}

.texto-5 {
     margin-left: 15px;
    float: left;
    font-size: 20px;
    width: 600px;
    clear: both;
    color: #d9ddeb;
}

.container {
    position: relative;
    left: 100px;
    flex-direction: column;
    flex: 1;
    position: relative;
    top: 200px;
    background-color: rgb(45, 8, 76);
    border-radius: 10px;
    color: rgb(207, 214, 219);
    display: flex;
    gap: 30px;
    width: 250px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.tabla {
    text-align: left;
    font-size: 50;
}

.parrafo-1 {
    font-size: 20px;
}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5px;
    font-size: 20px;
    background-color: rgb(45, 8, 76);
    border-radius: 10px;
}